/* .counter {
    width: 100%;
    display: flex;
}

p{
 font-size : 50px;
}

.decrement,
.increment {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
} */
